.display {
  display: flex;
  height: 100px;
  background-color: #aaa6a6;
  color: #fff;
  padding: 0.3em;
  justify-content: right;
  align-items: flex-end;
  font-size: 2.4em;
  font-weight: bold;
}
